<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Team06d2</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>hello.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetupDatabase</display-name>
    <servlet-name>SetupDatabase</servlet-name>
    <servlet-class>servlets.SetupDatabase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetupDatabase</servlet-name>
    <url-pattern>/SetupDatabase</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStateAdminUnitTypes</display-name>
    <servlet-name>ShowStateAdminUnitTypes</servlet-name>
    <servlet-class>servlets.ShowStateAdminUnitTypes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStateAdminUnitTypes</servlet-name>
    <url-pattern>/ShowStateAdminUnitTypes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStateAdminUnits</display-name>
    <servlet-name>ShowStateAdminUnits</servlet-name>
    <servlet-class>servlets.ShowStateAdminUnits</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStateAdminUnits</servlet-name>
    <url-pattern>/ShowStateAdminUnits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStateAdminUnitType</display-name>
    <servlet-name>ShowStateAdminUnitType</servlet-name>
    <servlet-class>servlets.ShowStateAdminUnitType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStateAdminUnitType</servlet-name>
    <url-pattern>/ShowStateAdminUnitType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStateAdminUnitType</display-name>
    <servlet-name>EditStateAdminUnitType</servlet-name>
    <servlet-class>servlets.EditStateAdminUnitType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStateAdminUnitType</servlet-name>
    <url-pattern>/EditStateAdminUnitType</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateAdminUnitTypeController</display-name>
    <servlet-name>StateAdminUnitTypeController</servlet-name>
    <servlet-class>servlets.StateAdminUnitTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateAdminUnitTypeController</servlet-name>
    <url-pattern>/StateAdminUnitTypeController</url-pattern>
  </servlet-mapping>
</web-app>