<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Team06d2</display-name>
  <welcome-file-list>
    <welcome-file>pages/index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Hello</display-name>
    <servlet-name>Hello</servlet-name>
    <servlet-class>hello.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hello</servlet-name>
    <url-pattern>/Hello</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseController</display-name>
    <servlet-name>DatabaseController</servlet-name>
    <servlet-class>servlets.DatabaseController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseController</servlet-name>
    <url-pattern>/DatabaseController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateAdminUnitTypeController</display-name>
    <servlet-name>StateAdminUnitTypeController</servlet-name>
    <servlet-class>servlets.StateAdminUnitTypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateAdminUnitTypeController</servlet-name>
    <url-pattern>/StateAdminUnitTypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StateAdminUnitController</display-name>
    <servlet-name>StateAdminUnitController</servlet-name>
    <servlet-class>servlets.StateAdminUnitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StateAdminUnitController</servlet-name>
    <url-pattern>/StateAdminUnitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitController</display-name>
    <servlet-name>UnitController</servlet-name>
    <servlet-class>servlets.UnitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitController</servlet-name>
    <url-pattern>/UnitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeController</display-name>
    <servlet-name>TypeController</servlet-name>
    <servlet-class>servlets.TypeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeController</servlet-name>
    <url-pattern>/TypeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReportController</display-name>
    <servlet-name>ReportController</servlet-name>
    <servlet-class>servlets.ReportController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReportController</servlet-name>
    <url-pattern>/ReportController</url-pattern>
  </servlet-mapping>
</web-app>